html
  head
    title= title
    script(src='/lib/phaser.js')
    //link(rel="stylesheet" type="text/css" href="/stylesheets/latinstyle.css")
  body(style='background-color:#213737')
    //script(src='/javascripts/fabula.js')
    //script(src='/javascripts/verbLexList.js')
    //script(src='/javascripts/verbs.js')
    //script(src='/javascripts/labyrinthus.js')
    script(src='/javascripts/bundle.js')
